
/* text */

%h1{
  font-family: 'Gilroy',sans-serif;
  font-size: 48px;
  line-height: 52px;
}
%h2{
  font-family: 'Gilroy',sans-serif;
  font-size: 32px;
  line-height: 40px;
}
%h3 {
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
%h4 {
  font-family: 'Roboto',sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1px;
}
%caption {
  font-family: 'Gilroy',sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
}
%caption2 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1.21333px;
  text-transform: uppercase;
}
%text {
  font-family: 'Roboto',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
%text_bold {
  font-family: 'Roboto',sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
%text_underline {
  font-family: 'Roboto',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
}
%text_mobile {
  font-family: 'Roboto',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
%small_text_underline {
  font-family: 'Roboto',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-decoration-line: underline;
}
%small_text_bold {
  font-family: 'Roboto',sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
}
%text_mobile_semibold {
  font-family: 'Roboto',sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}
%menu {
  font-family: 'Gilroy',sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 1px;
  color: #414141;
}

%ad {
    display: block;
    border-radius: 16px;
    overflow: hidden;
}
/* colors */

$base-green: #0D9545;
$base-green-80%: rgba(16, 150, 72, 0.3);

$base-yellow:#F3DB00;
$base-yellow-80%:rgba(243, 219, 0, 0.8);

$body-color:#EDEEF3;

$box-shadow:0px 4px 12px rgba(0, 0, 0, 0.15), 0px 2px 4px rgba(0, 0, 0, 0.25);


$white:#FFFFFF;

$text:#414141;
$disable-text:#7E7E7E;
$disable-background:#B0B0B0;
$chips-background:#C8C8C8;
$input-text:#999999;
$input:#F2FAF5;
$slide-background:linear-gradient(360deg, rgba(0, 0, 0, 0.7) 2.02%, rgba(0, 0, 0, 0) 61.73%);
$landing-page-card-background:#DFE6EE;

$black:#414141;
$black2: #484C52;
$green-btn:#0D9545;
$green_link:#005624;
$mute:#787E87;

/* effects */

/* other */

$container-width: 1464px;
$max-width:1920px;
@for $i from 1 through 12{
  .col-#{$i}{
    grid-column: span $i !important;
    align-self: end;
  }
}